.body-bg{
background-color: white;
}
.fc{
    font-weight: 400;
    color:#777777;
    font-size: 18px;
}
.price-c{
    color: #289BDE;
}
.work-bg{
    background-color: #F4FAFD;
}
.fa-star{
   color: gold;
}
.feed-bg{
    background-color: #E8E8E8;
}